[client]
# 设置 MySQL 客户端默认字符集为 utf8mb4，支持存储更多字符（如 emoji）
default-character-set=utf8mb4

# 设置 MySQL 客户端与数据库的连接 socket 文件路径
socket=/data/mysql/mysql.sock

[mysqld]
# 基础设置
datadir=/data/mysql
socket=/data/mysql/mysql.sock
port=3306
pid-file=/var/run/mysqld/mysqld.pid

default-time-zone = '+08:00'
#log_timestamps = SYSTEM 会使得 MySQL 的所有日志文件（包括错误日志、查询日志等）使用系统时区。
log_timestamps = SYSTEM

# 最大连接数和连接超时设置
max_connections=2000
max_user_connections=2000
wait_timeout=3600
interactive_timeout=288000

# 二进制日志设置
log_bin=mysql-bin
binlog_format=ROW
expire_logs_days=7

# 错误日志
log-error=/data/mysql/mysqld.log

# 慢查询日志
slow_query_log=on
long_query_time=1
slow-query-log-file=/data/mysql/slowquery.log

# InnoDB 设置
innodb_buffer_pool_size=20G        # 设置为 60%-70% 的内存（32GB * 0.6 ≈ 20GB）
innodb_log_buffer_size=256M        # 增大日志缓冲区
innodb_log_file_size=2G            # 可以适当增大，适应高写负载
innodb_flush_log_at_trx_commit=1   # 保证事务的持久性
innodb_temp_data_file_path=ibtmp1:12M:autoextend:max:2G

# Undo 表空间设置（建议设置为 2-3 个独立表空间）
innodb_undo_tablespaces=2
innodb_undo_log_truncate=ON
innodb_max_undo_log_size=1G

# SQL 模式（保持严格模式以确保数据一致性）
sql_mode='NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'

# 复制相关设置（如果需要主从复制，可以保持）
server_id=29
master_info_repository=TABLE
relay_log_info_repository=TABLE
